<div class="binsta_container">

<!-- タイトル -->
  <div class="binsta_title">
    <%= link_to("", new_feed_path, {class: "binsta-logo"}) %>
  </div>

<!-- タイムライン -->
  <div class="binsta_contents scroll">
    <% @feeds.reverse.each do |feed| %>
    <div class="binsta_block">
      <figure>
      <%= image_tag feed.user.icon.to_s, height: 100 %>
      </figure>
      <div class="binsta_block-text">
        <div class="name"><td><%= feed.user.name %></td>
        </div>
        <div class="date"><%= time_ago_in_words(feed.updated_at) %>
        </div>
        <div class="text"><font size="3"><%= feed.title %></font><br><br><%= feed.content %>
        </div>
        <div class="text"><%= link_to image_tag(feed.image.url, height:100 ), feed.image.url %>
        </div>
        <div class="binsta_icon">
          <% if current_user == feed.user %>
          <%= link_to("", feed_path(feed.id), method: :delete, class: "binsta-delete", data: { confirm: '本当に削除していいですか？' }) %>
          <%= link_to("", edit_feed_path(feed.id), class: "binsta-edit", data:{ confirm: '本当に編集していいですか？' }) %>
          <% end %>
          <%= link_to("", feed_path(feed.id), {class: "binsta-indi"}) %>

          <%= render "favorites/favorite", feed: feed %>

        </div>
      </div>
    </div>
  <% end %>
</div>