<div  class="fullheight" style="background-image:url(/images/bingsta_user.png)" />
  <font color="white">
  <h1><%= @user.name %>のページ</h1>
  <%= image_tag @user.icon.to_s, height: 100 %>
  <p>メールアドレス: <%= @user.email %></p>

  <% if current_user?(@user) %>
    <p><%= link_to 'ユーザー情報の編集', edit_user_path %></p>
  <% end %>


  <hr>
  <p><span>feed内容: </span>
    <% @feeds.each do |feed| %>
      <%=link_to feed.content, feed_path(feed.id) %>
    <% end %>
  </p>

  <hr>
  <%= link_to 'fav一覧', favindex_user_path %>

  <hr>
  <% if logged_in? %>
    <p><%= link_to "feedはこちらから", feeds_path %></p>
    <% else %>
    <p><%= link_to "ログイン", new_session_path %>をしてください</p>
  <% end %>
  </font>
</div>